body {
  background-color: #e0e0e0;
  margin: 15px;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  height: 40px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  font-size: 100%;
  min-height: 40px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

button {
  height: 40px;
  background-color: #4caf50;
  color: white;
  width: 20%;
  border-color: #4caf50;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 10px;
  min-height: 40px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#formulaire {
  background-color: #ffffff;
  height: 90px;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 85px;
  padding: 35px 15px 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

small {
  color: #ff2f00;
  font-size: 20px;
}

#instructions {
  color: #333333;
}

.instruction {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.plus {
  background-color: #ff5733;
  color: white;
}

.moins {
  background-color: #2196f3;
  color: white;
}

.fini {
  height: 50px;
  background-color: #4caf50;
  color: white;
}

@media (max-width: 700px) {
  input {
    font-size: 85%;
  }

  small {
    font-size: 15px;
  }

  #formulaire {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  h1 {
    margin-top: 30px;
  }

  button {
    width: 30%;
  }
}
